* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.game {
    background: url(img/background.png) center/cover;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game__button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 4px solid black;
    background-color: wheat;
    transition: transform 300ms ease-in;
}

.game__button:hover {
    transform: scale(1.1);
}

.game__timer {
    width: 100px;
    margin: 8px 0;
    border: 4px solid black;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 24px;
}

.game__score {
    width: 50px;
    height: 50px;
    font-size: 36px;
    background-color: darksalmon;
    color: #ffffff;
    border: 4px solid black;
    border-radius: 50%;
}

.game__field {
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.game__field img {
    cursor: pointer;
    transition: transform 300ms ease-out;
}

.game__field img:hover {
    transform: scale(1.2);
}

.pop-up {
    display: block;
    width: 500px;
    height: 150px;
    padding: 20px;
    margin: auto;
    background-color: #11111190;
    color: #ffffff;
    transform: translateY(-150%);
    border-radius: 20px;
}

.pop-up--hide {
    display: none;
}

.pop-up__redo {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 4px solid black;
    background-color: wheat;
}

.pop-up__message {
    display: block;
    font-size: 36px;
    margin: 8px;
}